@import "src/assets/forms";

.login-body {
  align-items: flex-start !important;
  margin-top: 5rem;
}

.login-container {
  flex-direction: column;

  .login-title {
    margin-bottom: 1rem;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}