@import "src/assets/forms";

.login-container {
  flex-direction: column;

  .login-title {
    margin-bottom: 1rem;
  }
}
.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}