//@import "customVariables";

@import "~bulma/bulma";

html {
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

//@import "debug";

.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.has-background-gradient {
  background: $primary;
  background: linear-gradient(180deg, $primary 0%, $info 100%);
}

.btn-grad {background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%)}
.btn-grad:hover { background-position: right center; }